* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Roboto', sans-serif;
   background-color: grey;
}

h1 {
   font-size: 20px;
}

h2 {
   font-size: 18px;
}

h3 {
   font-size: 16px;
}

.right-container p, 
.right-container li {
   font-size: 14px;
   color: grey;
}

.body-content {
 width: 1000px;
 margin: 20px auto;
 background-color: #077BAF;
}

.left-container {
   float: left;
   width: 300px;
   padding: 0;
   margin-right: 50px;
}

.left-container li, 
.fas fa-caret-right {
   margin-left: 15px;
   list-style-type: none;
}

.right-container {
   background-color: #fff;
   height: 100%;
   padding: 60px 50px 60px;
   margin: 0;
   width: 700px;
   margin-left: auto;

}

img {
   width: 300px;
   height: 350px;
}

.peq-resumen,
.name-age {
   padding: 25px;
   color: #fff;
   font-size: small;
   text-align: justify;
}

#name-age {
   padding: 25px;
   color: #fff;
   font-size: small;
   text-align: justify;
}

.peq-resumen h1 {
   text-align: left;
}

.right-container h2,
.right-container h3,
.right-container p {
   padding-left: 13px;
}

.right-container ul {
   padding-left: 30px;
}

.right-container h2 {
   margin-top: 15px;
}

.right-container h3 {
   margin-top: 15px;
}

h2 + h3:first-of-type {
   margin: 0;
}

.contacto-container {
   margin-top: 550px;
}

.social-container {
   margin-top: 25px;
}

dl {
   display: grid;
   grid-template-columns: max-content auto;
 }
 
 dt {
   grid-column-start: 1;
 }
 
 dd {
   grid-column-start: 2;
 }

 a {
    text-decoration: none;
    color: #fff;
 }