* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 0.625em; 
}

body {
   font-family: 'Roboto', sans-serif;
   background-color: grey;
}

h1 {
   font-size: 2.0rem;
}

h2 {
   font-size: 1.8rem;
}

h3 {
   font-size: 1.6rem;
}

#body-container {
   display: flex;
   width: 850px;
   margin: 20px auto;
   background-color: #077BAF;
}

#download-cv {
   margin-top: 50px;
   margin-left: 450px;
   position: fixed;
   top: 0;
   text-align: center;
   font-size: 1.4rem;
}

#header-container {
   width: 30%;
}

#header-container img {
   width: 100%;
}

#header-container li {
   padding-bottom: 10px;
}

#header-container li {
   margin-left: 10px;
   list-style-type: none;
}

#main-container {
   width: 70%;
   background-color: #fff;
   padding: 60px 50px 60px;
}

#main-container p, 
#main-container li {
   font-size: 1.4rem;
   color: grey;
}

#peq-resumen,
#name-age {
   padding: 25px;
   color: #fff;
   font-size: small;
   text-align: left;
}

#main-container h2,
#main-container h3,
#main-container p {
   padding-left: 13px;
}

#main-container ul {
   padding-left: 30px;
}

#main-container h2,
#main-container h3 {
   margin-top: 15px;
}

#main-container h2 + h3:first-of-type {
   margin-top: 0;
}

#contacto-container {
   margin-top: 182px;
}

#social-container {
   margin-top: 25px;
}

#social-container p {
   margin-left: 10px;
}

#social-container p:first-of-type {
   margin-top: 5px;
}

dl {
   display: grid;
   grid-template-columns: max-content auto;
   margin-left: 10px;
   margin-top: 5px;
 }
 
 dt {
   grid-column-start: 1;
 }
 
 dd {
   grid-column-start: 2;
 }

 a {
    text-decoration: none;
    color: #fff;
 }